<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.axisense.android.twicca.plugin.hiwihhi"
	android:versionCode="1"
	android:versionName="1.0"
	>
	
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		>
		<activity
			android:name=".ShowHiwihhi"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			>
			<intent-filter
				android:label="@string/show_hiwihhi"
				>
				<action android:name="jp.r246.twicca.ACTION_SHOW_USER" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="jp.r246.twicca.category.OWNER" />
			</intent-filter>
			<intent-filter
				android:label="@string/show_hiwihhi"
				>
				<action android:name="jp.r246.twicca.ACTION_SHOW_USER" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="jp.r246.twicca.category.USER" />
			</intent-filter>
			<intent-filter
				android:label="@string/show_hiwihhi"
				>
				<action android:name="jp.r246.twicca.ACTION_SHOW_TWEET" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
	
	<uses-sdk android:minSdkVersion="4"></uses-sdk>
</manifest>
